.index {
  .intro-header {
    $url: url("/images/banner/index_banner.jpg");
    background-image: $url;
    background-size: cover;
    background-position: center;
    .site-heading {
      text-align: center;
      padding: 150px 0;
      color: #FFF;
      h1 {
        font-size: 80px;
        line-height: 1.1;
        font-weight: 700;
      }
      .subheading {
        font-size: 20px;
        line-height: 1.1;
        display: block;
        font-weight: 700;
        margin: 10px 0 0;
      }
    }
  }
}